* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(245, 245, 247);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#img1 {
  width: 100%;
  height: 90px;
}

.nav {
  height: 50px;
  width: auto;
  background-color: #43a047;
}
.navigation {
  float: left;
  height: 50px;
  width: 240px;
  line-height: 50px;
}

.navigation a {
  color: #fff;
}

.navigation img {
  height: 40px;
  width: 35px;
  margin-left: 98px;
  margin-top: 5px;
}

#slideshow {
  width: auto;
  height: 500px;
  overflow: hidden;
  position: relative;
}
#slideshow img {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s linear;
}
#slideshow img.active {
  opacity: 1;
}
#slideshow div {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 5px;
  margin-left: -200px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
}
#slideshow span {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 10px;
  background: white;
}
#slideshow span.active {
  background: #43a047;
}

#slideshow p {
  width: 30px;
  line-height: 80px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: none;
}
#slideshow p.left {
  left: 0;
}
#slideshow p.right {
  right: 0;
}
#slideshow:hover p {
  display: block;
}
#slideshow p:hover {
  background: rgba(0, 0, 0, 0.4);
}
.body {
  margin-top: 30px;
}
.box-bd {
  width: 1230px;
}

.box-bd ul li {
  width: 288px;
  height: 300px;
  float: left;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.box-bd ul li img {
  width: 100%;
}

.box-bd .info {
  margin: 25px 20px 20px 25px;
  line-height: 26px;
  font-size: 16px;
  color: #333;
}
.footer {
  margin-top: 30px;
}
.mid {
  float: left;
  width: 600px;
  height: 80px;
  position: relative;
  margin-top: 50px;
  margin-left: 230px;
}
.wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left a,
.right a {
  font-size: 10px;
  color: #333;
}

.hover:hover {
  color: #43a047;
}
.copyright {
  text-align: center;
  width: auto;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #333;
}
