* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
body {
  background-color: rgb(245, 245, 247);
}

a {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.w {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: auto;
  height: 30px;
  background-color: rgb(227, 228, 229);
}
.location {
  font-size: 12px;
  width: 100px;
  line-height: 30px;
}
.location p {
  float: left;
  color: rgb(185, 185, 186);
}

.top-nav {
  float: right;
  width: 800px;
  height: 30px;
}
.top-nav-info {
  font-size: 12px;
  line-height: 12px;
  float: right;
  margin: 9px 0;
  padding: 0 20px;
  border-right: 1px solid rgb(204, 204, 204);
}
.top-nav-info a {
  color: rgb(185, 185, 186);
}
.top-nav-info a:hover {
  color: #43a047;
}
.top-search {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: auto;
  height: 140px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #43a047;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #43a047;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #43a047;
  background: #43a047;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textsearch {
  font-size: 10px;
  color: rgb(204, 204, 204);
}
.clearhistory {
  float: right;
  color: rgb(204, 204, 204);
  font-size: 12px;
  background-color: white;
  border: 1px solid white;
}
.loader {
  width: 140px;
  height: 140px;
  bottom: 0;
  left: 1355px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 99999;
  margin: 0px 50px;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  position: relative;
  margin-top: 10px;
  width: auto;
  height: 612px;
}
.leftnav {
  float: left;
  position: absolute;
  margin: 0px 10px 0px 0px;
  padding: 10px 0px 10px 20px;
  width: 190px;
  height: 592px;
  background-color: rgb(254, 254, 254);
}

.extendlist {
  display: none;
  position: absolute;
  left: 210px;
  top: 0;
  height: 612px;
  width: 500px;
  padding-top: 8px;
  background-color: #fefefe;
  z-index: 20;
}
.extend {
  margin-left: 30px;
  height: 49px;
  line-height: 49px;
}
.extendlist .extend ul li {
  float: left;
  margin: 0 5px;
}
.extendlist .extend ul li a {
  color: #43a047;
}
.extendlist .extend ul li a:hover {
  color: #dd4b39;
}
.icon {
  height: 49px;
}
.icon img {
  float: left;
  width: auto;
  height: 30px;
  margin: 9px 0;
}
.icon a {
  color: #333;
  float: left;
  line-height: 48px;
  padding-left: 20px;
}

.icon a:hover {
  color: #43a047;
}

.images {
  float: left;
  width: 980px;
  height: 612px;
}

#slideshow {
  width: 980px;
  height: 612px;
  overflow: hidden;
  position: absolute;
  left: 210px;
}
#slideshow img {
  width: 980px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s linear;
}
#slideshow img.active {
  opacity: 1;
}
#slideshow div {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -127.5px;
  padding: 5px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
}
#slideshow span {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 10px;
  background: white;
}
#slideshow span.active {
  background: #43a047;
}

#slideshow p {
  width: 30px;
  line-height: 80px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: none;
}
#slideshow p.left {
  border-radius: 0 40px 40px 0;
  left: 0;
}
#slideshow p.right {
  border-radius: 40px 0 0 40px;
  right: 0;
}
#slideshow:hover p {
  display: block;
}
#slideshow p:hover {
  background: rgba(0, 0, 0, 0.4);
}
#image1,
#image2,
#image3,
#image4 {
  position: absolute;
}

#image1,
#image2 {
  left: 50%;
  margin-left: -750px;
}

#image3,
#image4 {
  left: 50%;
  margin-left: 620px;
}

#image1 {
  top: 50px;
}
#image2 {
  top: 360px;
}

#image3 {
  top: 50px;
}
#image4 {
  top: 360px;
}

.clock {
  margin-top: 10px;
  height: 300px;
}
#box {
  float: left;
  width: 210px;
  height: 300px;
  background: red;
  position: relative;
}
.txt {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 25px;
  top: 50px;
}
.hour {
  left: 20px;
}
.h_m {
  left: 68px;
}
.minute {
  left: 80px;
}
.m_s {
  right: 78px;
}
.second {
  left: 140px;
}
.hour,
.minute,
.second {
  position: absolute;
  top: 200px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: black;
}
.h_m,
.m_s {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  bottom: 70px;
}

#innerclock {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
}
.product {
  float: left;
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 300px;
  background-color: #fff;
}
.productn {
  float: left;
  position: relative;
  top: 0;
  height: 300px;
}

.products {
  float: left;
  width: 326px;
  height: 300px;
}

.products:hover {
  box-shadow: 1px 1px 5px #888888;
}

.productimg {
  margin: 10px 65px 5px 65px;
}

.products span {
  display: block;
  text-align: center;
  color: #333;
}

.products .proname:hover {
  color: red;
}

.products .price {
  height: 25px;
  text-align: center;
  margin: 15px auto;
}
.products .price span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.products .pre {
  font-size: 18px;
  font-weight: 700;
  background-color: red;
  color: #fff;
}

.products .after {
  color: #333;
  font-size: 18px;
}

.product p {
  width: 30px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: none;
}
.product p.left {
  border-radius: 0 40px 40px 0;
  left: 0;
}
.product p.right {
  border-radius: 40px 0 0 40px;
  right: 0;
}
.product:hover p {
  display: block;
}
.product p:hover {
  background: rgba(0, 0, 0, 0.4);
}

.detail {
  margin-top: 10px;
  height: 1000px;
}

.detail .products {
  background-color: #fff;
  float: left;
  margin: 5px 5px;
  width: 290px;
  height: 330px;
}

.detail .products .productimg {
  margin: 10px 30px 10px 30px;
}
.footer {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.mid {
  float: left;
  width: 600px;
  height: 80px;
  position: relative;
  margin-top: 50px;
  margin-left: 230px;
}
.wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left a,
.right a {
  font-size: 10px;
  color: #333;
}

.hover:hover {
  color: #43a047;
}
.copyright {
  text-align: center;
  width: auto;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #333;
}
.elevator {
  position: fixed;
  width: 50px;
  height: 130px;
  position: -webkit-sticky;
  bottom: 100px;
  left: 50%;
  margin-left: 650px;
}

.elevator li {
  background-color: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.elevator li img {
  display: block;
  margin: 10px auto;
}
